.custom-tooltip{
    position: absolute;
    width: 250px;
    background: #fff;
    padding: 7px 10px 7px 10px;
    display: none;
    pointer-events: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    font-family: Verdana, "Helvetica Neue",Helvetica,Arial,sans-serif;
    z-index: 1000;
	height: auto;
}
.custom-tooltip h1 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px 0;
    color: #ff8f00;
}
.custom-tooltip h1 .img{
    float: right;
    max-height: 50px;
    max-width: 70px;
}
.custom-tooltip .subtitle {
    font-size: 12px;
    color: #039be5;
    margin: 0 0 7px 0;
    padding: 0 0 3px 0;
}
.custom-tooltip .description {
    font-size: 11px;
    color: #212121;
    margin: 0;
    padding: 0;
}
.custom-tooltip .description b{
    color: #777;
    font-size: 11px;
    font-weight: normal;
}
html, body {
    margin: 0;
    padding: 0;
}
a{
    color: #1976d2
}
#container {
    padding: 0;
    margin: 5px auto;
}