<!DOCTYPE html>
<html>
<title>Dc x Marvel</title>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script src="/static/resources/js/vue.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<script type="text/JavaScript">
		var service_host = "{{service_host}}";
		</script>

	<div class="container-fluid">
		<div id="app">
			<div id="userForm" v-if="semUser">
				<div class="form-group">
					<label for="in-nome">Nome:</label>
					<input id="in-nome" type="text" class="form-control" v-model="nome">
					<div class="form-group">
						<label for="in-sobrenome">Sobrenome:</label>
						<input id="in-sobrenome" type="text" class="form-control" v-model="sobrenome">
					</div>
					<button v-if="nome && sobrenome" class="btn btn-primary" v-on:click="setUser">Escolher</button>
					<div v-else class="alert alert-info" role="alert">
						Digite seu nome acima
					</div>
				</div>
			</div>
			<div id="comUser" v-else>
				<div id="erro" v-if="comErro">
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Erro ao validar voto!</h4>
						<hr>
						<p class="mb-0">Você será enviado para tentar votar novamente</p>
					</div>
				</div>
				<div id="votado" v-else-if="comSucesso">
					<div class="alert alert-success" role="alert">
						<h4 class="alert-heading">Voto computado!</h4>
						<hr>
						<p class="mb-0">Você será enviado para um novo voto</p>
					</div>
				</div>
				<div id="aVotar" v-else>
					<h3>Usuário é <span class="badge badge-secondary">{% raw %}
							{{username}} {% endraw %}</span></h3>
					<div class="row">
						<div class="col-sm-6" v-for="personagem in personagens">
							<div class="card">
								<div class="card-body">
									<img class="card-img-top" v-bind:src="personagem.imagem" alt="Card image cap"
										v-on:click="selectionarPersonagem(personagem=personagem, service_host='{{service_host}}')">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/resources/vendor/jquery/jquery.min.js"></script>
	<script src="/static/app.js"></script>
</body>

</html>